<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<array>
		<dict>
			<key>name</key>
			<string>边惠芳</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>15321042363</string>
			<key>hobby</key>
			<string>女</string>
			<key>picture</key>
			<string>边惠芳.jpg</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>name</key>
			<string>陈永坤</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>15699885506</string>
			<key>hobby</key>
			<string>coding</string>
			<key>picture</key>
			<string>陈永坤.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>陈东</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>15716408225</string>
			<key>hobby</key>
			<string>看海贼王，玩LOL</string>
			<key>picture</key>
			<string>陈东.jpg</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>name</key>
			<string>董融</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18437303668</string>
			<key>hobby</key>
			<string>女</string>
			<key>picture</key>
			<string>董融.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>代燕</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>18237148334</string>
			<key>hobby</key>
			<string>听歌看电影</string>
			<key>picture</key>
			<string>代燕.jpg</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>name</key>
			<string>郭明淼</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18224517890</string>
			<key>hobby</key>
			<string>看电影听音乐</string>
			<key>picture</key>
			<string>郭明淼.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>龚公开</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>18766666666</string>
			<key>hobby</key>
			<string>篮球</string>
			<key>picture</key>
			<string>龚公开.jpg</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>name</key>
			<string>侯赛男</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>13838098582</string>
			<key>hobby</key>
			<string>喜欢到处跑，尝试新事物，外表强悍内心柔弱哦~</string>
			<key>picture</key>
			<string>侯赛男.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>韩亮</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>15210839209 </string>
			<key>hobby</key>
			<string>美女</string>
			<key>picture</key>
			<string>韩亮.jpg</string>
		</dict>
	</array>
	<key>J</key>
	<array>
		<dict>
			<key>name</key>
			<string>江浪</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>27</string>
			<key>phoneNumber</key>
			<string>13051736579</string>
			<key>hobby</key>
			<string>音乐，徒步</string>
			<key>picture</key>
			<string>江浪.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>金志博</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>15093357685</string>
			<key>hobby</key>
			<string>吃饭，睡觉，打代码。。。。</string>
			<key>picture</key>
			<string>金志博.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>贾子健</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>18612770625</string>
			<key>hobby</key>
			<string> 性格随和 爱好打篮球 </string>
			<key>picture</key>
			<string>贾子健.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>纪志刚</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>15321813787</string>
			<key>hobby</key>
			<string>小电影</string>
			<key>picture</key>
			<string>纪志刚.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>江锦龙</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>21</string>
			<key>phoneNumber</key>
			<string>18156052969</string>
			<key>hobby</key>
			<string>爱好 女</string>
			<key>picture</key>
			<string>江锦龙.jpg</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>name</key>
			<string>李真</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>15895446040</string>
			<key>hobby</key>
			<string>旅游</string>
			<key>picture</key>
			<string>李真.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘洋</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>18896518630</string>
			<key>hobby</key>
			<string>看电影</string>
			<key>picture</key>
			<string>刘洋.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘坤</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>222222</string>
			<key>hobby</key>
			<string>玩游戏</string>
			<key>picture</key>
			<string>刘坤.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>卢赛</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>15890193536</string>
			<key>hobby</key>
			<string>音乐、舞蹈、旅行</string>
			<key>picture</key>
			<string>卢赛.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘佳娜</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>13120036996</string>
			<key>hobby</key>
			<string>吃</string>
			<key>picture</key>
			<string>刘佳娜.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘景元</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>18611924514</string>
			<key>hobby</key>
			<string>吃东西，打篮球</string>
			<key>picture</key>
			<string>刘景元.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李盼</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18733818676</string>
			<key>hobby</key>
			<string>看电影</string>
			<key>picture</key>
			<string>李盼.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>梁旭</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>21</string>
			<key>phoneNumber</key>
			<string>18210522024</string>
			<key>hobby</key>
			<string>爱看电影，爱泡妹子</string>
			<key>picture</key>
			<string>梁旭.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘沛源</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>17090113969</string>
			<key>hobby</key>
			<string>play</string>
			<key>picture</key>
			<string>刘沛源.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘国超</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>21</string>
			<key>phoneNumber</key>
			<string>18310793431</string>
			<key>hobby</key>
			<string>性格复杂多变，没事喜欢砍砍人，来自济南</string>
			<key>picture</key>
			<string>刘国超.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘雨双</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>13641170089</string>
			<key>hobby</key>
			<string>羽毛球,旅游</string>
			<key>picture</key>
			<string>刘雨双.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李松</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18210357369</string>
			<key>hobby</key>
			<string>音乐 小电影</string>
			<key>picture</key>
			<string>李松.jpg</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>name</key>
			<string>孟庆敏</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>15938751859</string>
			<key>hobby</key>
			<string>玩游戏 </string>
			<key>picture</key>
			<string>孟庆敏.jpg</string>
		</dict>
	</array>
	<key>P</key>
	<array>
		<dict>
			<key>name</key>
			<string>彭严涛</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>21</string>
			<key>phoneNumber</key>
			<string>18611455455</string>
			<key>hobby</key>
			<string>听歌 看电影 看书 LOL 海贼王</string>
			<key>picture</key>
			<string>彭严涛.jpg</string>
		</dict>
	</array>
	<key>R</key>
	<array>
		<dict>
			<key>name</key>
			<string>冉世荣</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>18638102716</string>
			<key>hobby</key>
			<string>男</string>
			<key>picture</key>
			<string>冉世荣.jpg</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>name</key>
			<string>孙少伟</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>21</string>
			<key>phoneNumber</key>
			<string>15936560863</string>
			<key>hobby</key>
			<string>上网，骑行</string>
			<key>picture</key>
			<string>孙少伟.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>孙铭浩</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18611863451</string>
			<key>hobby</key>
			<string>爱好 音乐</string>
			<key>picture</key>
			<string>孙铭浩.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>孙文俊</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>15903851361</string>
			<key>hobby</key>
			<string>绘画，音乐，旅游</string>
			<key>picture</key>
			<string>孙文俊.jpg</string>
		</dict>
	</array>
	<key>T</key>
	<array>
		<dict>
			<key>name</key>
			<string>唐茜</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>15303818571</string>
			<key>hobby</key>
			<string>看电影</string>
			<key>picture</key>
			<string>唐茜.jpg</string>
		</dict>
	</array>
	<key>W</key>
	<array>
		<dict>
			<key>name</key>
			<string>王贻成</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>15290898488</string>
			<key>hobby</key>
			<string>与人交往，琴棋书画</string>
			<key>picture</key>
			<string>王贻成.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王廉昌</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>17</string>
			<key>phoneNumber</key>
			<string>15981843713</string>
			<key>hobby</key>
			<string>看心情</string>
			<key>picture</key>
			<string>王廉昌.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王亚东 </string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>27</string>
			<key>phoneNumber</key>
			<string>18610176014</string>
			<key>hobby</key>
			<string>台球，游泳。虽然我很胖，但是我很浪</string>
			<key>picture</key>
			<string>王亚东.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王志远</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>15824665166</string>
			<key>hobby</key>
			<string>爱好女</string>
			<key>picture</key>
			<string>王志远.jpg</string>
		</dict>
	</array>
	<key>X</key>
	<array>
		<dict>
			<key>name</key>
			<string>夏枫</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>15038364819</string>
			<key>hobby</key>
			<string>男</string>
			<key>picture</key>
			<string>夏枫.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>徐永帅</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>13592447971</string>
			<key>hobby</key>
			<string>美女，</string>
			<key>picture</key>
			<string>徐永帅.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>徐周</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>18514235240</string>
			<key>hobby</key>
			<string>女</string>
			<key>picture</key>
			<string>徐周.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>许云捷</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>30</string>
			<key>phoneNumber</key>
			<string>13911856829</string>
			<key>hobby</key>
			<string>女</string>
			<key>picture</key>
			<string>许云捷.jpg</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>name</key>
			<string>袁格</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>18501047264</string>
			<key>hobby</key>
			<string>音乐，电影，美食</string>
			<key>picture</key>
			<string>袁格.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>杨振宇</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>18501347758</string>
			<key>hobby</key>
			<string>音乐，篮球</string>
			<key>picture</key>
			<string>杨振宇.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>杨景超</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18515139058</string>
			<key>hobby</key>
			<string>女</string>
			<key>picture</key>
			<string>杨景超.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>杨朝霞</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>15110012653</string>
			<key>hobby</key>
			<string>吃东西</string>
			<key>picture</key>
			<string>杨朝霞.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>尹超</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18224517893</string>
			<key>hobby</key>
			<string>男</string>
			<key>picture</key>
			<string>尹超.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>于明月</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>18501047257</string>
			<key>hobby</key>
			<string>爱好广泛</string>
			<key>picture</key>
			<string>于明月.jpg</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>name</key>
			<string>张琪琪</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>21</string>
			<key>phoneNumber</key>
			<string>15393707588</string>
			<key>hobby</key>
			<string>广泛</string>
			<key>picture</key>
			<string>张琪琪.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张晓宇</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>24</string>
			<key>phoneNumber</key>
			<string>18810193012</string>
			<key>hobby</key>
			<string>玩</string>
			<key>picture</key>
			<string>张晓宇.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张松</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>25</string>
			<key>phoneNumber</key>
			<string>15093210778</string>
			<key>hobby</key>
			<string>篮球</string>
			<key>picture</key>
			<string>张松.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张恺宇</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<integer>21</integer>
			<key>phoneNumber</key>
			<string>18701508054</string>
			<key>hobby</key>
			<string>女</string>
			<key>picture</key>
			<string>张恺宇.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张本伟</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18811347372</string>
			<key>hobby</key>
			<string>LOL</string>
			<key>picture</key>
			<string>张本伟.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>郑志强</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>22</string>
			<key>phoneNumber</key>
			<string>18637100273</string>
			<key>hobby</key>
			<string>唱歌，看球</string>
			<key>picture</key>
			<string>郑志强.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>朱俊</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>28</string>
			<key>phoneNumber</key>
			<string>13621089267</string>
			<key>hobby</key>
			<string>电影</string>
			<key>picture</key>
			<string>朱俊.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张朝</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>21</string>
			<key>phoneNumber</key>
			<string>15890052972</string>
			<key>hobby</key>
			<string>打篮球</string>
			<key>picture</key>
			<string>张朝.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>周博</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<string>18</string>
			<key>phoneNumber</key>
			<string>13526571000</string>
			<key>hobby</key>
			<string>玩</string>
			<key>picture</key>
			<string>周博.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张静</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<string>23</string>
			<key>phoneNumber</key>
			<string>18911124682</string>
			<key>hobby</key>
			<string>爱好 旅行</string>
			<key>picture</key>
			<string>张静.jpg</string>
		</dict>
	</array>
</dict>
</plist>
